.albums {
	list-style: none;
	font-size: 16px;
	padding-left: 0;
	margin: 15px 0 0 0;
}

.album a { 
	text-decoration: none;
	color: black;
}

.album {
	text-transform: uppercase;
	margin-bottom: 15px;
}

.hyphen {
	height: 5px;
	width: 20px;
	display: inline-block;
	margin: 0 5px 3px 5px;
}

@media only screen and (max-width:1200px) { /* it follows body max-width */
	.albums {
		padding: 0 15px; 
	}
}