.info-content {
	margin: 15px auto;
	text-align: justify;
}

.info-content a,
.info-content a:visited {
	color: initial;
}

.content-404 a:hover {
	color: initial;
}

@media only screen and (max-width:1200px) { /* it follows body max-width */
	.info-content {
		padding: 0 15px;
	}
}